[Desktop Entry]
Name=屏译
GenericName=Screenshot Translator
Comment=截图、提取并翻译屏幕文字
Exec=pingyi
Icon=pingyi
Terminal=false
Type=Application
Categories=Utility;Office;
Keywords=OCR;Translate;Screenshot;
Actions=Capture;Settings;

[Desktop Action Capture]
Name=截图翻译
Name[en]=Capture and translate
Exec=pingyi --capture

[Desktop Action Settings]
Name=设置
Name[en]=Settings
Exec=pingyi --settings
